body {
	font:15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}

/* Global */
.container {
	width:80%;
	margin:auto;
	overflow:hidden;
}

ul {
	margin:0;
	padding:0;
}

.botao1 {
	height:38px;
	background:#e8491d;
	border:none;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}

.escuro {
	padding:15px;
	background:#4f4f59;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
}

/* Cabeçalho */
header {
	background:#4f4f59;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	/* Linha entre cabeçalho e resto */
	border-bottom:#e8491d 3px solid;
}

/* Todos os links dentro do cabeçalho */
header a {
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}

/* Todos os elementos da lista */
header li {
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

/* Deixa a lista de links à direita */
header nav {
	float:right;
	margin-top:10px;
}

/* Deixa o logo à esquerda */
header #logo {
	float:left;
}

header #logo h1 {
	margin:0;
}

/* Destaca logo e página atual */
header .corlogo, header .atual a {
	color:#e8491d;
	font-weight:bold;
}

/* Deixa em negrito os links em que o mouse passa por cima */
header a:hover {
	color#cccccc;
	font-weight:bold;
}

/* Showcase */
#showcase {
	min-height:400px;
	background:url('../img/mercado1.jpg') no-repeat 0 0;
	text-align:center;
	color:#ffffff;
}

/* Título do showcase */
#showcase h1 {
	margin-top:100px;
	font-size:55px;
	margin-bottom:10px;
}

/* Parágrafo do showcase */
#showcase p {
	font-size:20px;
}

/* Opções da area de inscrever-se ao feed */
#feed_novos_posts {
	padding:15px;
	color:#ffffff;
	background:#4f4f59;
}

/* Deixa a frase à esquerda */
#feed_novos_posts h1 {
	float:left;
}

/* Deixa o formulário à direita */
#feed_novos_posts form {
	float:right;
	margin-top:15px;
}

/* Ajusta o formulário à sessão */
#feed_novos_posts input[type="email"] {
	padding:4px;
	height:25px;
	width:250px;
}

/* Ajutas as caixas */
#caixas {
	margin-top:20px;
}

/* Determina as opções das caixas */
#caixas .caixa {
	float:left;
	text-align:center;
	width:47%;
	padding:10px;
}

/* Determina as opções das imagens das caixas */
#caixas .caixa img {
	width:90px;
	height:90px;
}

/* Desativa a cor azul do link */
#caixas a {
	color:#000000;
	text-decoration:none;
}

/* Sobre */
article#sobre {
	float:left;
	width: 65%;
}

/* Curiosidades */
aside#curiosidades {
	float:right;
	width:30%;
	margin-top:10px;
}

/* Faz o rodapé ser o rodapé */
footer {
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#e8491d;
	text-align:center;
}